{%extends 'base.html'%}
{%block content%}
<!--답변 수정-->
<div class="container my-3">
    <!--제목-->
    <div class="text-start mb-5">
        <h2 class="p-5">답변 수정</h2>
    </div>
    <!--제목 end-->
    <!--등록 form-->
    <form method="post">
        {%csrf_token%}
        <!--form validation 기능-->
        {%include 'form_errors.html'%}
        <!--form validation 기능 end-->
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <div>
                <textarea name="content" id="content" cols="20" rows="10" class="form-control">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
        </div>
        <!--모델 폼과 연결된 subject, content 의 값을 저장할 수 있는 form 생성-->
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
    <!--등록 form end-->
</div>
<!--container end-->
{%endblock%}