{% extends 'base.html' %}
{%load pybo_filter%}<!--사용자 정의 필터 로드-->
{% block content %}
    <!--container1-->
    <div class="container">
        <!--제목-->
        <div class="text-start mb-5">
            <h2 class="p-5">게시판</h2>
        </div>
        <div class="row my-3">
            <!--board 등록-->
            <div class="col-6">
                <a href="{% url 'board:board_create' %}" class="btn btn-primary">등록</a>
            </div>
            <!--board 등록 end-->
            <!--검색 버튼-->
            <div class="col-6">
                <div class="input-group">
                    <label for="search_div"></label><select id="search_div" class="select2-selection__choice">
                    <option value="" {% if div == '' %} selected {% endif %}>전체</option>
                    <option value="10" {% if div == '10' %} selected {% endif %}>제목</option>
                    <option value="20" {% if div == '20' %} selected {% endif %}>내용</option>
                    <option value="30" {% if div == '30' %} selected {% endif %}>작성자</option>
                </select>
                    <label for="search_kw"></label><input type="text" id="search_kw" class="form-control"
                                                          value="{{ kw|default_if_none:'' }}"
                                                          placeholder="검색어">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="btn_search">조회</button>
                    </div>
                </div>
            </div>
            <!--검색 버튼 end-->
        </div>
        <!--제목 end-->
    </div>
    <div class="container table-responsible mt-5">
        <p>
            <label for="select_per_page">(총 {{ board_list.paginator.count }}개의 게시글이 검색되었습니다.)</label>
            <select name="per_page" id="select_per_page" class="form-select-sm">
                <option value="10" {% if per_page == '10' %} selected {% endif %}>10개씩 보기</option>
                <option value="20" {% if per_page == '20' %} selected {% endif %}>20개씩 보기</option>
                <option value="30" {% if per_page == '30' %} selected {% endif %}>30개씩 보기</option>
                <option value="50" {% if per_page == '50' %} selected {% endif %}>50개씩 보기</option>
                <option value="100" {% if per_page == '100' %} selected {% endif %}>100개씩 보기</option>
            </select>
        </p>
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="text-center table-dark">
                <th>No.</th>
                <th style="width:50%">제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            {% if board_list %}
                {% for board in board_list %}
                    <tr class="text-center">
                        <!--일련 번호 = 전체 글수 - 시작 인덱스 - 현재 인덱스 + 1-->
                        <td>
                            {{ board.id }} <!--실제 질문 id 번호-->
                        </td>
                        <td class="text-start"><a href="{% url 'board:board_detail' board.id %}">{{ board.subject }}</a>
                        </td>
                        <td>{{ board.author.username }}</td> <!--글쓴이 추가-->
                        <td>{{ board.create_date|date:"Y-m-d" }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">"게시글이 없습니다."</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% csrf_token %}
        <!--페이징 처리-->
        <ul class="pagination justify-content-center">
            <!--첫페이지-->
            <li class="page-item">
                <a class="page-link"
                   href="?kw={{ kw|default_if_none:'' }}&page=1&div={{ div|default_if_none:'' }}&per_page={{ per_page|default_if_none:'' }}"
                   aria-label="&gt;">&laquo;</a>
            </li>
            <!--첫페이지 end-->
            <!--이전 페이지-->
            {% if board_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ board_list.previous_page_number }}" href="javascript:void(0)">&lt;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-disabled="true" aria-label="&lt;">&lt;
                    </a>
                </li>
            {% endif %}
            <!--이전 페이지 end-->
            <!--페이지 리스트-->
            {% for page_number in board_list.paginator.page_range %}
                <!--현재 선택 페이지 와 나머지-->
                <!--페이지 번호가 현재 페이지 기준으로 좌우 5개씩 보이도록 처리-->
                {% if page_number >= board_list.number|add:-5 and page_number <= board_list.number|add:5 %}
                    {% if page_number == board_list.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}"
                               style="font-weight:bold">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item" aria-current="page">
                            <a class="page-link" href="javascript:void(0)" data-page="{{ page_number }}"
                               style="font-weight:bold">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <!--페이지 리스트 end-->
            <!--다음 페이지-->
            {% if board_list.has_next %}
                <li class="page-item">
                    <a class="page-link" data-page="{{ board_list.next_page_number }}"
                       href="javascript:void(0)">&gt;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" href="#" aria-disabled="true" aria-label="&gt;">&gt;
                    </a>
                </li>
            {% endif %}
            <!--다음 페이지 end-->
            <!--마지막 페이지-->
            <li class="page-item">
                <a class="page-link"
                   href="?kw={{ kw|default_if_none:'' }}&page={{ board_list.paginator.page_range.stop|sub:1 }}&div={{ div|default_if_none:'' }}&per_page={{ per_page|default_if_none:'' }}"
                   aria-label="&gt;">&raquo;</a>
            </li>
            <!--마지막 페이지 end-->
        </ul>
        <!--페이징 처리 end-->
    </div>
    <form action="{% url 'board:index' %}" id="searchForm" method="get">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
        <input type="hidden" id="div" name="div" value="{{ div|default_if_none:'' }}">
        <input type="hidden" id="per_page" name="per_page" value="{{ per_page|default_if_none:'' }}">
    </form>
    <!--container end-->
{% endblock %}
{% block script %}
    <script type="text/javascript">
        function doRetrieve(page) { // page 변수 입력을 통해
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = page;
            document.getElementById('div').value = document.getElementById('search_div').value;
            document.getElementById('per_page').value = document.getElementById('select_per_page').value;
            document.getElementById('searchForm').submit();
        }

        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                doRetrieve(this.dataset.page)
            });
        });
        const btn_search = document.getElementById("btn_search");
        btn_search.addEventListener('click', function () {
            doRetrieve(1);
        });
        const search_kw = document.querySelector("#search_kw");
        search_kw.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                doRetrieve(1);
            }
        });
        const per_page = document.getElementById("per_page");
        per_page.addEventListener("click", function () {
            doRetrieve(1);
        })
    </script>
{% endblock %}